{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

    <article class="post-main">
        <div class="papa no-padding">
            <div class="hijo">
                <a href="{{url}}">
                    <div class="post-img {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
                    </div>
                </a>
            </div>

            <div class="hijo">
                <header class="post-header">    
                    <h2 class="post-title">{{{title}}}</h2>
                    {{#author}}
                        <a class="icon-usuario autor centro" href="{{url}}"> {{name}}</a>
                    {{/author}}
                    <a href="{{url}}" class="ver-mas">ver más</a>  
                </header>

                <section class="post-excerpt abstract">
                    <p>{{excerpt words="50"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
                </section>

                <time class="post-date fecha etiqueta" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                
                <div class="etiqueta">
                    <a class="icon-tags espacio" href=""> {{tags prefix=""}}</a>
                </div>

            </div>
        </div>
        

        

    </article>
{{/foreach}}

{{pagination}}


