{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

<article class="post-main web-60">

    <header class="post-header">
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        <div class="papa centrar post-meta no-padding post-meta__item">
            {{#author}}
            <div class="post-meta__item">
                <i class="icon-usuario"></i>
                <a href="{{url}}">{{name}}</a>
            </div>
            {{/author}}
            <div class="post-meta__item">
                <i class="icon-tags"></i>
                <a href="">{{tags prefix=""}}</a>
            </div>
                
            <div class="post-meta__item">
                <i class="icon-chat"></i>
                <a href="">1 Comentario</a>
            </div>
            
        </div>
    </header>

    <section class="post-excerpt">
        <p>{{excerpt words="50"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>

</article>
<div class="post-img {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
</div>
{{/foreach}}

{{pagination}}


