{{!-- seccion thumbnails --}}
{{#foreach posts}}
    
    {{!-- cuerpo thumbnail --}}
    <article class="post-main">

            {{!-- seccion imagen-thumb --}}
            <div class="imagen">

                {{!-- imagen --}}
                <a href="{{url}}">
                    <div class="post-img {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
                    </div>
                </a>

                {{!-- fecha --}}
                <time class="post-date fecha etiqueta" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>

                {{!-- tag --}}
                <div class="etiqueta tag">
                    <span class="icon-tags espacio" href=""> {{tags prefix=""}}</span>
                </div>

            </div>
            
            {{!-- seccion descripcion-thumb --}}
            <div class="contenido">

                <header class="post-header"> 
                    <a href="{{url}}">
                        <h2 class="post-title">{{{title}}}</h2>
                    </a>   
                    {{#author}}
                        <a class="icon-usuario autor centro" href="{{url}}"> {{name}}</a>
                    {{/author}}
                    <a href="{{url}}" class="ver-mas">ver más</a>  
                </header>

                <section class="post-excerpt abstract">
                    <p>{{excerpt words="50"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
                </section>

            </div>


    </article>
        

    
{{/foreach}}

{{pagination}}


