<div class="wrap-post distribuir centro mini-100">
    
    {{!-- seccion thumbnails --}}
    {{#foreach posts}}
        
        {{!-- cuerpo thumbnail --}}
        <article class="papa post-main mini-100 web-50">

            {{!-- seccion imagen-thumb --}}
            <div class="post-box">

                {{!-- imagen --}}
                <div class="post-img {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
                </div>

                {{!-- seccion descripcion-thumb --}}
                <header class="post-header"> 
                    {{!-- tag --}}
                    <span class="tag"> {{tags prefix=""}}</span>
                    
                    <h2 class="post-title">
                        <a href="{{url}}">
                            {{{title}}}
                        </a>
                    </h2>
                    
                    {{!-- fecha --}}
                    <time class="post-date fecha" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>

                    {{#author}}
                        <a class="icon-usuario autor" href="{{url}}"> {{name}}</a>
                    {{/author}}

                    <section class="abstract">
                        <p>{{excerpt words="25"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
                    </section>

                </header>

                <a href="{{url}}" class="ver-mas">ver más</a>  
            </div>

        </article>
        
    {{/foreach}}

</div>


<div class="margen purgar mini-100">
{{> suscribe}}
    
</div>

{{pagination}}

