{{!< default}}

{{#author}}
    <header class="header-autor{{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">
        {{navigation}}
    </header>

    <section class="author-profile inner">
        {{#if image}}
        <figure class="author-image">
            <div class="img" style="background-image: url({{image}})"></div>
        </figure>
        {{/if}}
        <h3 class="author-title">{{name}}</h3>
        {{#if bio}}
            <p class="author-bio">{{bio}}</p>
        {{/if}}
        <div class="author-meta">
            {{#if location}}<span class="author-location icon-mundo espacio">{{location}}</span>{{/if}}
            {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
            <span class="author-stats author-contador"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
        </div>
    </section>
{{/author}}


<div class="wrap-post distribuir centro web-90">
    {{> "loop"}}
</div>
    


