<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">

	<link rel="stylesheet" type="text/css" href="{{asset "css/zurix.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/magnific-popup.css"}}" />
</head>

	<body>
		
		{{!-- Loader animación al cargar pagina --}}
		{{>loader}}
		
		{{!-- Container general de la pagina --}}
		<div class="wrap">

			{{!-- Menu --}}
			{{navigation}}
			
			{{!-- Container del contenido --}}
			<div class="main-content">

				{{!-- Contenido main de la pagina index --}}
				{{{body}}}
						
				{{!-- Footer general de la pagina y blog --}}
				{{>footer}}

				{{!-- Botón ir arriba --}}
				<div id="btn-subir" class="btn-top centro"><p class="subir icon-arriba"></p></div>
			</div>

		</div>
		
		{{!-- Scripts --}}
		<script type="text/javascript" defer="defer" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" defer="defer" src="{{asset "js/script.min.js"}}"></script>
		<script type="text/javascript" defer="defer" src="{{asset "js/scrollreveal.min.js"}}"></script>
		<script type="text/javascript" defer="defer" src="{{asset "js/jquery.ghostHunter.js"}}"></script>
		<script type="text/javascript" defer="defer" src="{{asset "js/jquery.magnific-popup.min.js"}}"></script>
		<script type="text/javascript" defer="defer" src="{{asset "js/jquery.mixitup.min.js"}}"></script>
	</body>
</html>
 

