{{!< default}}

{{#post}}

<header class="header-secundario {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">

</header>

<main class="content" role="main">
    <article class="post-body">

        <div class="post-head">
            <time class="post-date date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            <h2 class="">{{title}}</h2>
        </div>

        <div class="addthis_sharing_toolbox"></div>

        <section class="post-content post-excerpt">
            {{content}}

            <div class="btn-compartir">
                <p>Si te gusto lo que leíste o te sirvió de algo, anímate a compartirlo para que otras personas puedan leerlo, quizás a ellas también les sirva! :D</p>
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </section>

        

    </article>
    
    <div class="wrap-post purgar distribuir centro">
        {{> suscribe}}
    </div>

    <article class="post-body">
        <div id="disqus_thread" class="centro"></div>
    </article>


    
    <script>

    (function() {

    var d = document, s = d.createElement('script');

    

    s.src = '//diegozazueta.disqus.com/embed.js';

    

    s.setAttribute('data-timestamp', +new Date());

    (d.head || d.body).appendChild(s);

    })();

    </script>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    
</main>

{{/post}}
