{{!< default}}

{{#post}}

<header class="header-secundario {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">

</header>

<main class="content" role="main">
    <article class="post-body">

        <header class="post-header">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            <h1 class="post-title">{{title}}</h1>
            <div class="papa centrar post-meta no-padding post-meta__item">
            {{#author}}
            <div class="post-meta__item">
                <i class="icon-usuario"></i>
                <a href="{{url}}">{{name}}</a>
            </div>
            {{/author}}

            <div class="post-meta__item">
                <i class="icon-tags"></i>
                <a href="">{{tags prefix=""}}</a>
            </div>
                
            <div class="post-meta__item">
                <i class="icon-chat"></i>
                <a href="">1 Comentario</a>
            </div>
            
            </div>
        </header>

        <section class="post-content post-excerpt">
            {{content}}
        </section>

        <div class="post-footer">

        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p><a href="{{url}}">Revisa más de mis artículos</a></p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location post-location icon-mundo espacio">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

        {{/author}}

            <section class="share">
                <h4>Comparte este artículo</h4>
                <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                </a>
            </section>

        </div>

    </article>
</main>

<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
