{{!< default}}

<header class="header-tag {{#if tag.image}}" style="background-image: url({{tag.image}}){{else}}{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}{{/if}}">

    <div class="tag__content">
        <h1 class="tag__title">{{tag.name}}</h1>
        <h2 class="tag__description">
            {{#if tag.description}}
                {{tag.description}}
            {{else}}
                A {{pagination.total}}-post collection
            {{/if}}
        </h2>
    </div>
</header>

<main class="content" role="main">

    {{> "loop"}}

</main>
